{% extends 'portfolio/base.html' %}

{% block content %}
    <h1>All my blogs</h1>
    <a href="{% url 'home' %}"><h2>Home</h2></a>
    <h3>Carlos has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>
    {% for blog in blogs %}
        <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.name }}</h2></a>
        <p>{{ blog.synopsis|striptags|truncatechars:100 }}</p>
        <p>{{ blog.date|date:'M d Y' }}</p>
        <img src="{{ blog.image.url }}" alt="">
        {% if blog.url %}
            <br>
            <a href="{{ blog.url }}">link</a>
        {% endif %}
        <br><br>
    {% endfor %}
{% endblock %}